<!--
  Generated template for the SubirpartidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Subir Partido
        <img src="assets/imgs/logosf.png"/>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

  
  <form [formGroup]="form" (ngSubmit)="subirPartido(form)">
    <div class="nuevo-partido">
      <div class="vs-container">
        <ion-item>
          <ion-label>Local</ion-label>
          <ion-select formControlName="equipoLocal" name="equipoLocal" required>
          <ion-option *ngFor="let equipo of equipos">{{ equipo.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <h1>VS</h1>
        <ion-item>
          <ion-label>Visitante</ion-label>
          <ion-select formControlName="equipoVisitante" name="equipoVisitante" required>
            <ion-option *ngFor="let equipo of equipos">{{ equipo.nombre }}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="partido-inputs">
        <ion-input formControlName="golesLocal" name="golesLocal" type="number" value="0" required></ion-input>
        <ion-input formControlName="golesVisitante" name="golesVisitante" type="number" value="0" required></ion-input>
      </div>
      <button ion-button type="submit">Subir partido</button>
    </div>
  </form>
  <h5>Marcar solo los no convocados</h5>
  <ion-list>
    <ion-item *ngFor="let jugador of jugadores">
      <ion-label>{{jugador.nombre}}</ion-label>
      <ion-checkbox item-right value="false"  [(ngModel)]="jugador.value" (click)="convocado(jugador)"></ion-checkbox>
    </ion-item>  
  </ion-list>
  <ion-list *ngIf="jugadoresc[0] != undefined">
    <h6>Jugadores convocados de otros equipos|Partidos convocados</h6>
      <ion-item *ngFor="let jugadorc of jugadoresc" (click)="Quitar_convocado(jugadorc)">
        <h4 class="convocado">
            {{jugadorc.nombre}} | {{jugadorc.Convocado.convocado}}
          <ion-icon name="close"></ion-icon>
        </h4>
      </ion-item>
  </ion-list>
  <div>
    <button ion-button (click)="anadirconvocado()">+</button>
    <button ion-button class="enviar" (click)="subirconvocados()">Enviar Convocados</button>
  </div>
</ion-content>
