page-ver-datos {
    ion-select{
        width:100%;
    }
    .select{
        max-width: 100%;
    }
    form .button {
        margin: 15px 0px;
        width: 100%;
    }
    #infromacion{
        display:none;
    }
}
